<div class="games-items top-line">
    <h4><span>Discount packs</span></h4>
    <div class="row equal-height equal-height-child">
        <div class="discount-pack">
            <div class="item-padding col-lg-5 col-sm-12 col-xs-12">
                <div class="text-center">
                    <h3>Synthesis HC Discount Pack!</h3>
                </div>
                <div class="product-item col-lg-6 col-sm-6 col-xs-6">
                    <div class="spacer">
                        <div class="ribbon hot"><div>Hot</div></div>
                        <div class="product-media-container">
                            <div class="product-media-image">
                                <a title="Spartacus Legends" href="#">
                                    <img src="assets/img/product/860.png" alt="spartacus_legends" class="browseProductImage">
                                </a>
                            </div>
                        </div>
                        <div class="product-descr-container">
                            <h6>DIABLO 3 ROS</h6>
                            <h2><a href="#">1 Diablo 3 RoS Ramaladni's Gift</a></h2>
                            <hr class="line">
                            <p class="product_s_desc">
                                Diablo 3 ROS Ramaladni's Gift is an account bound item...
                            </p>
                            <div class="product-price salesprice">
                                <div class="price-value"><span class="price-desc">Base price: </span><span
                                            class="PricebasePrice">$20.0</span></div>
                                <span class="price-crossed"></span>
                                <div class="price-value"><span class="price-desc">Sales price: </span><span
                                            class="PricesalesPrice">$20.0</span></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="product-item col-lg-6 col-sm-6 col-xs-6">
                    <div class="spacer">
                        <div class="ribbon discount"><div>25%</div></div>
                        <div class="ribbon hot"><div>Hot</div></div>
                        <div class="product-media-container">
                            <div class="product-media-image">
                                <a title="Spartacus Legends" href="#">
                                    <img src="assets/img/product/080.png" alt="spartacus_legends" class="browseProductImage">
                                </a>
                            </div>
                        </div>
                        <div class="product-descr-container">
                            <h6>DIABLO 3 ROS</h6>
                            <h2><a href="#">5000 Diablo 3 RoS Veiled Crystals</a></h2>
                            <hr class="line">
                            <p class="product_s_desc">
                                Veiled Crystal is a rare crafting material, obtained...
                            </p>
                            <div class="product-price salesprice">
                                <div class="price-value"><span class="price-desc">Base price: </span><span
                                            class="PricebasePrice">$20.0</span></div>
                                <span class="price-crossed"></span>
                                <div class="price-value"><span class="price-desc">Sales price: </span><span
                                            class="PricesalesPrice">$20.0</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-padding col-lg-12 col-sm-12 col-xs-12">
                    <ul class="discount-price text-center">
                        <li><span class="PricesalesPrice">$90</span></li>
                        <li><span class="PricebasePrice">$115</span></li>
                    </ul>
                    <button type="submit" class="btn-cart center-block">Add to cart</button>
                </div>
            </div>


            <div class="product-item col-lg-2 col-sm-12 col-xs-12">
                <div class="discount-logo center-block">
                    <a href="">
                        <img src="assets/img/ascendancy_logo.png" alt="">
                    </a>
                </div>
            </div>

            <div class="item-padding col-lg-5 col-sm-12 col-xs-12">
                <div class="text-center">
                    <h3>Synthesis SC Discount Pack!</h3>
                </div>
                <div class="product-item col-lg-6 col-sm-6 col-xs-6">
                    <div class="spacer">
                        <div class="ribbon discount"><div>25%</div></div>
                        <div class="product-media-container">
                            <div class="product-media-image">
                                <a title="Spartacus Legends" href="#">
                                    <img src="assets/img/product/946.jpg" alt="spartacus_legends" class="browseProductImage">
                                </a>
                            </div>
                        </div>
                        <div class="product-descr-container">
                            <h6>DIABLO 3 ROS</h6>
                            <h2><a href="#">100 Diablo 3 RoS Imperial Gems of Each Type</a></h2>
                            <hr class="line">
                            <p class="product_s_desc">
                                In Diablo 3 there five types of regular gems and...
                            </p>
                            <div class="product-price salesprice">
                                <div class="price-value"><span class="price-desc">Base price: </span><span
                                            class="PricebasePrice">$20.0</span></div>
                                <span class="price-crossed"></span>
                                <div class="price-value"><span class="price-desc">Sales price: </span><span
                                            class="PricesalesPrice">$20.0</span></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="product-item col-lg-6 col-sm-6 col-xs-6">
                    <div class="spacer">
                        <div class="product-media-container">
                            <div class="product-media-image">
                                <a title="Spartacus Legends" href="#">
                                    <img src="assets/img/product/160.png" alt="spartacus_legends" class="browseProductImage">
                                </a>
                            </div>
                        </div>
                        <div class="product-descr-container">
                            <h6>DIABLO 3 ROS</h6>
                            <h2><a href="#">Starmetal Kukri - Normal quality</a></h2>
                            <hr class="line">
                            <p class="product_s_desc">
                                Damage...
                            </p>
                            <div class="product-price salesprice">
                                <div class="price-value"><span class="price-desc">Base price: </span><span
                                            class="PricebasePrice">$20.0</span></div>
                                <span class="price-crossed"></span>
                                <div class="price-value"><span class="price-desc">Sales price: </span><span
                                            class="PricesalesPrice">$20.0</span></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item-padding col-lg-12 col-sm-12 col-xs-12">
                    <ul class="discount-price text-center">
                        <li><span class="PricesalesPrice">$100</span></li>
                        <li><span class="PricebasePrice">$135</span></li>
                    </ul>
                    <button type="submit" class="btn-cart center-block">Add to cart</button>
                </div>
            </div>
        </div>
    </div>

</div>