{% if products %}
    {% for product in products %}
        {% include 'ProductBundle:Block/include:item.html.twig' %}
    {% endfor %}
{% else %}
    <div class="col-sm-12 text-center">
        <h2 class="title_not_found">Ooopppsss, not found items</h2>
    </div>
{% endif %}