{% extends 'AppBundle:layout:default.html.twig' %}

{% block breadchumbs %}{% endblock %}

{% block wrap_bg %}
    {{
    sonata_block_render(
        { 'type': 'main.block.image' }
    )
    }}
{% endblock %}

{% block content_main %}

    <div class="container">

        {{
        sonata_block_render(
            { 'type': 'product.block.main_game' }
        )
        }}


        {{
        sonata_block_render(
            { 'type': 'discount.block.pack' }
        )
        }}


        {{
        sonata_block_render(
            { 'type': 'product.block.in_main' }
        )
        }}

    </div>

{% endblock %}
